input.input {
    @apply appearance-none py-1 px-2 bg-gray-100 
        border-2 border-gray-200 placeholder-gray-400
        shadow-sm rounded-lg text-base transition focus:outline-none 
        focus:ring-2 focus:border-opacity-0
        dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100 focus:ring-blue-500 dark:focus:ring-blue-600;
    &:invalid {
        @apply border-opacity-0 ring-2 ring-red-500;
    }
}
select.select {
    @apply appearance-none py-1 px-2 pr-8 bg-gray-100 border-2 
        border-gray-200 dark:bg-gray-800 dark:border-gray-700 
        dark:text-gray-100 shadow-sm rounded-lg text-base transition
        focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 focus:border-opacity-0;
}

select.select {
    background-position: calc(100% - 0.3rem) 47%; 
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2Zw0KICB3aWR0aD0iMjQiDQogIGhlaWdodD0iMjQiDQogIHZpZXdCb3g9IjAgMCAyNCAyNCINCiAgc3R5bGU9ImNvbG9yOiAjOUNBM0FGIg0KICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciDQo+DQogIDxwYXRoDQogICAgZD0iTTEzLjQxNDIgMTAuMTA5MUwxMy40MTc5IDEwLjExMjhMMTIuMDAzNyAxMS41MjdMMTIgMTEuNTIzM0wxMS45OTYzIDExLjUyN0wxMC41ODIxIDEwLjExMjhMMTAuNTg1OCAxMC4xMDkxTDcuNzYxMDUgNy4yODQzM0w5LjE3NTI2IDUuODcwMTJMMTIgOC42OTQ4NkwxNC44MjQ3IDUuODcwMTJMMTYuMjM5IDcuMjg0MzNMMTMuNDE0MiAxMC4xMDkxWiINCiAgICBmaWxsPSJjdXJyZW50Q29sb3IiDQogIC8+DQogIDxwYXRoDQogICAgZD0iTTEyIDE1LjMwNTJMMTQuODI0NyAxOC4xMjk5TDE2LjIzOSAxNi43MTU3TDEzLjQxNDIgMTMuODkxTDEzLjQxNzkgMTMuODg3M0wxMi4wMDM3IDEyLjQ3MzFMMTIgMTIuNDc2N0wxMS45OTYzIDEyLjQ3MzFMMTAuNTgyMSAxMy44ODczTDEwLjU4NTggMTMuODkxTDcuNzYxMDUgMTYuNzE1N0w5LjE3NTI2IDE4LjEyOTlMMTIgMTUuMzA1MloiDQogICAgZmlsbD0iY3VycmVudENvbG9yIg0KICAvPg0KPC9zdmc+);
}

textarea.textarea {
    @apply resize py-1 px-2 border-2 
        bg-gray-100  border-gray-200 placeholder-gray-400
        dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200
        shadow-sm rounded-lg text-base transition focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 focus:border-opacity-0;
}
.input-group input {
    @apply pl-9;
}
.input-icon {
    @apply h-5 w-5 absolute my-2 mx-2 dark:text-gray-300 text-gray-400;
}